* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}


:root {
    --main-clr: #000000;
    --main-hover-clr: #000000be;
}

button{
    cursor: pointer !important;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(30deg, #FF5F6D, #cda266, hotpink, rgb(255, 207, 112));
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.main .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    background-color: rgb(252, 192, 73);
    bottom: 5px;
    right: 5px;
}

.wrapper {
    width: 90%;
    height: 90%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.350), rgba(255, 255, 255, 0.50), rgba(255, 255, 255, 0.350));
    border-radius: 8px;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bi-star {
    position: absolute;
    height: 65px;
    z-index: 5 !important;
    cursor: pointer;
    fill: rgb(255, 119, 0);
    left: 350px;
    bottom: 155px;
}




.circle.cir {
    top: 20px;
    left: 70px;
    height: 10px;
    width: 10px;
    z-index: 3;
}

.cir:nth-child(2) {
    left: 100px;
    top: 70px;
}

.cir:nth-child(3) {
    left: 40px;
    top: 100px;
}

.header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo h1 {
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.list {
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    list-style: none;
}

.list li {
    transition: 0.3s linear;
    position: relative;
    transform: translateY(10px);
}

.list li::before {
    position: absolute;
    left: 0;
    bottom: -8px;
    left: 0;
    height: 4px;
    border-radius: 8px;
    width: 100%;
    transform: scale(0);
    transform-origin: left;
    content: "";
    transition: 0.3s linear;
    background-color: var(--main-clr);
}

.list li:hover::before,
.list li.active::before {
    transform: scale(1);
}

.list li:hover,
.list li.active {
    color: var(--main-clr);
    cursor: pointer;
    transform: translateY(0px) scale(1.1);
}

.log-in-sign-up {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    color: #70b7d9;
    padding-inline: 5px;
    cursor: pointer;
    text-decoration: underline;
}

.contents {
    width: 100%;
    height: 90%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.content>.left,
.content .right {
    width: 50%;
    color: white;
    height: 100%;
}

.left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-inline-start: 020px;
}

.left p {
    margin-block: 20px;
    text-align: justify;
}

.left h2 {
    font-size: 35px;
    background: linear-gradient(to right, rgb(209, 92, 255), rgb(255, 127, 77), coral, #ff068f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 400% 400%;
    animation: smoothBackgroundMove 5s ease infinite;
}

.left h2:hover {
    animation: none;
}

@keyframes smoothBackgroundMove {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 60px;
}

.buttons button {
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    height: 40px;
    width: 105px;
    cursor: pointer;
    color: var(--main-clr);
    background-color: transparent;
    border: 2px solid var(--main-clr);
    font-weight: 800;
    transition: 0.4s linear;
}

.buttons button:hover {
    background-color: var(--main-clr);
    color: white;
    transform: scale(1.050);
    box-shadow: none !important;
}

button.active_btn.active_btn {
    background: var(--main-clr);
    color: white;
    position: relative;
    z-index: 100;
    margin-inline-end: 70px;
    transition: 0.2s linear;
}

.buttons>button:not(.active_btn) {
    box-shadow: 3px 3px 1px var(--main-clr);
}

button.active_btn.active_btn:hover {
    background-color: var(--main-clr);
}

.right {
    display: grid;
    place-items: center;
    position: relative;
}

.right>div {
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: white;
    background-image: url("user.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% auto;
    clip-path: circle(30% at 50% 50%);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s linear;
}

.content:not(.active_tab) {
    opacity: 0;
    z-index: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}

@media screen and (max-width: 1030px) {
    .header ul {
        display: none;
    }

    .bars {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bars.show:last-child {
        display: none;
    }
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 25;
    content: "";
    background: linear-gradient(lightpink, hotpink, lightsalmon);
}

.text {
    font-size: 55px;
    font-weight: 800;
    color: white;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: 0.3s linear;
}


.about-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container>div {
    width: 50% !important;
    height: 70% !important;
}

.left-c,
.right-c {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 !important;
}

.right-c {
    flex-direction: row !important;
}



.row {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
}

.row-top {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.row-top h3 {
    transition: 0.3s linear;
}

.icon {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: white;
    transition: 0.3s linear;
}

.row-bottom {
    width: 100%;
    height: 60%;
    padding: 0 !important;
    padding-right: 10px !important;
    color: whitesmoke;
    text-align: justify;
}

.row:hover h3,
.row.active_bg h3 {
    color: var(--main-clr) !important;
}

.row:hover .icon,
.row.active_bg .icon {
    background-color: var(--main-clr) !important;
}


.right-c>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.right-c>div>img {
    height: 80%;
    background-color: white;
}

.right-c>div .before {
    position: absolute;
    background-color: rgb(189, 71, 130);
    width: 99%;
    left: 0;
    height: 300%;
    clip-path: polygon(51% 26%, 10% 43%, 51% 60%);
    transition: 0.3s linear;
    transform: rotate(90deg) translate(203px, 106px);
    z-index: 10;
}

.right-c>div .after {
    position: absolute;
    background-color: rgb(215, 161, 231);
    width: 99%;
    left: 0;
    height: 300%;
    clip-path: polygon(67% 26%, 22% 43%, 66% 60%);
    transform: rotate(90deg) translate(117px, 106px);
    transition: 0.3s linear;

}

.right-c .top {
    position: absolute;
    width: 85%;
    height: 90%;
    top: 0;
    background-color: rgb(133, 184, 231);
    clip-path: polygon(0% -5%, 100% 0%, 100% 100%, 50% 50%, 0% 100%);
    transition: 0.3s linear;
}

.hov-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 25;
    font-size: 35px;
    transition: 0.3s linear;
}

.hov-text>p {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.right-c:hover>.hov-text {
    opacity: 0 !important;
}

.projects-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.projects-container>.box {
    width: 95%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box .view {
    width: 33%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(36deg, lightsalmon, lightpink);
}

.view .hover {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    transform: translateY(50px);
    opacity: 0;
    cursor: pointer;
    transition: 0.3s linear;
}

.view .hover .icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.view .hover .icon svg {
    height: 50% !important;
    fill: var(--main-clr) !important;
}

.view:hover .hover {
    transform: translateY(0px);
    opacity: 1;
}

.contact-me {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.Big {
    font-size: 35px !important;
    border: none !important;
}

.contact-me>input::placeholder,
.contact-me>div>input::placeholder {
    color: var(--main-clr);
    font-size: 18px;
}

.contact-me>* {
    width: 80%;
    height: 50px;
    -webkit-caret-animation: smooth;
    padding-inline: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 3px solid var(--main-clr);
    transition: 0.3s linear;
    margin-block: 30px;
}

.contact-me>div {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-me>div>input {
    width: 45%;
    height: 50px;
    font-size: 18px !important;
    -webkit-caret-animation: smooth;
    padding-inline: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 3px solid var(--main-clr);
    transition: 0.3s linear;
}

.contact-me>input:focus::placeholder,
.contact-me>div>input:focus::placeholder {
    color: white;
}

.contact-me>input:focus,
.contact-me>div>input:focus,
.contact-me>input:valid,
.contact-me>div>input:valid {
    background-color: var(--main-clr);
    color: white;

}

.button {
    width: 80%;
    height: 50px !important;
    background-color: var(--main-clr);
    border-radius: 8px;
    display: flex;
    justify-content: center !important;
    align-items: center;
    cursor: pointer;
}

.button:hover {
    background-color: var(--main-hover-clr);
}

.button>button {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center !important;
}

.icons .icon {
    background-color: transparent;
    cursor: pointer;
    margin-inline: 10px;
    cursor: pointer;
}

.icons .icon svg {
    transition: 0.3s linear;
}

.icons .icon svg:hover {
    fill: var(--main-hover-clr);
}
.clock{
    position: absolute;
    width: 120px;
    height: 15px;
    top: 0%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.550);
}
.clock > p{
    font-size: 13px;
    color: var(--main-clr);
}
